.section__title {
    margin-bottom: var(--mb-2);
}

.section__subtitle {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: var(--mb-2);
}

.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__data {
    margin-top: 1rem;
}
.about__description {
    margin-bottom: 3rem;
    color: var(--title-color);
}

@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__data {
        text-align: center;
        padding: 0 10rem;
        margin-top: 0;
    }

    .about__description {
        margin-bottom: 2rem;
        text-align: justify;
    }
}

@media screen and (max-width: 768px) {
    .about__data {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 576px) {
    .about__data {
        padding: 0;
    }
}